.nav__img
{
    width: 135px;
    height: 70px;
    display: block;
    text-align: start;
}
.nav-wrapper
{
    background-color: #009688 ;
}
.h2__title
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}


.page-footer
{
    background-color: #009688;
    max-height: 100%;
}
.copyright
{
    
    background-color: #009688;
}